{:source-paths ["src" "test"]
 
 :dependencies [[binaryage/devtools "1.0.6"]
                [cider/cider-nrepl  "0.30.0"]
                [reagent            "1.2.0"]
                [re-frisk           "1.6.0"]
                [re-frame           "1.3.0"]]

 :dev-http     {3000 "resources/public"}

 :jvm-opts     ["-Xmx2G"]
 
 :nrepl        {:port 7002}

 :builds       {:app {:target     :browser
                      :output-dir "resources/public/js"
                      :asset-path "/js"
                      :devtools   {:preloads [re-frisk.preload]}
                      :modules    {:main {:init-fn client.core/main}}}}}
 
