{:source-paths ["src" "resources" "test"]
 
 :dependencies [[bidi "2.1.6"]
                [binaryage/devtools "1.0.7"]
                [cider/cider-nrepl  "0.35.0"]
                ;; [metosin/reitit "0.6.0"]
                [kibu/pushy "0.3.8"]
                [reagent  "1.2.0"]
                [re-frame "1.3.0"]
                [day8.re-frame/re-frame-10x "1.8.1"]]

 ;; :dev-http     {3000 "resources/public"}

 ;; :jvm-opts     ["-Xmx2G"]
 
 :nrepl        {:port 7002}

 :builds       {:app {:target     :browser
                      :output-dir "resources/public/js"
                      :asset-path "/js"
                      :dev        {:closure-defines {client.core/TW true
                                                     day8.re-frame.tracing/trace-enabled? true
                                                     re-frame.trace/trace-enabled? true}}
                      :devtools   {:http-root "resources/public"
                                   :http-port 3000
                                   :preloads  [day8.re-frame-10x.preload]}
                      :modules    {:main {:init-fn client.core/main}}}}}
 
